@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: black;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header .container,
.croissant.container,
.contacts.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: underline transparent;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline black;
}

.logo img {
  width: 130px;
}

.croissant img {
  width: auto;
  height: 90vh;
  object-fit: contain;
}

.recipe ul li,
.instructions ol li {
  line-height: 2;
}

.instructions {
  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 40px;
}

.col {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col img {
  margin: 5px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contacts.container {
  height: 90vh;
}

.contact-link {
  width: 50%;
}

.contact-link a {
  font-size: 24px;
  text-decoration: underline transparent;
  transition: all 300ms ease-in-out;
}

.contact-link a:hover {
  text-decoration: underline black;
}
